mat-toolbar {
    justify-content: center;
    background-color: black;
}

mat-toolbar p {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: gray;
}

.web-link {
    text-decoration: none;
    color:rgb(197, 146, 219);
    font-weight: 500;
}