

    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <img class="logo-img" src="../../assets/home-delivery.png" alt="">
        <h1 class="jumbo">{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <button routerLink="store" class="go-btn btn btn-block btn-secondary">Go To Store</button>
    </div>

    <div class="home-wrapper">
      
      
        <h1>Ice Creams</h1>
        <p>Our ice creams have a uniquely smooth texture and buttercream body, with bright flavor and clean finish (we don’t use synthetic flavorings, dyes, or off-the-shelf mixes). You may notice the absence of a long list of stabilizers and emulsifiers on our label; we prefer the more complex process of building texture and flavor without them. Our flavors stand alone straight from the pint or melt perfectly into a fruit pie, birthday cake, crumble, crisp, or cookie—the perfect accessory for your dessert.</p>
<!--        
        <section>
            <div class="example-label">Raised</div>
            <div class="example-button-row">
              <button mat-raised-button>Basic</button>
              <button mat-raised-button color="primary">Primary</button>
              <button mat-raised-button color="accent">Accent</button>
              <button mat-raised-button color="warn">Warn</button>
              <button mat-raised-button disabled>Disabled</button>
              <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section> -->

    </div>
 
