
    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <img class="logo-img" src="../../assets/home-delivery.png" alt="">
        <h1 class="jumbo">{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <button routerLink="store" class="go-btn btn btn-block btn-secondary">Go To Store</button>
    </div>

    <div class="home-wrapper">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus illum iusto saepe dignissimos atque aspernatur est, eos deserunt fugiat consequuntur harum omnis. Repellat, delectus. Pariatur accusantium itaque eaque quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus illum iusto saepe dignissimos atque aspernatur est, eos deserunt fugiat consequuntur harum omnis. Repellat, delectus. Pariatur accusantium itaque eaque quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus illum iusto saepe dignissimos atque aspernatur est, eos deserunt fugiat consequuntur harum omnis. Repellat, delectus. Pariatur accusantium itaque eaque quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus illum iusto saepe dignissimos atque aspernatur est, eos deserunt fugiat consequuntur harum omnis. Repellat, delectus. Pariatur accusantium itaque eaque quidem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus temporibus illum iusto saepe dignissimos atque aspernatur est, eos deserunt fugiat consequuntur harum omnis. Repellat, delectus. Pariatur accusantium itaque eaque quidem.</p>
    </div>
 
