<div class="about-wrapper">

    <div class="header" fxLayout="column">
        <div class="wrapper">

            <h1>Ice Cream Story</h1>
            <p>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries
                or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate
                air spaces and to prevent detectable ice crystals from forming.
            </p>
            <h2>Origins</h2>
            <p>The origins of frozen desserts are obscure although several accounts exist about their history. Some sources describe ice cream-like foods as originating in Persia as far back as 550 BCE while others claim that the Roman Emperor Nero had ice
                collected from the Apennine Mountains to produce the first sorbet mixed with honey and wine.</p>
            <h2>South Asia</h2>
            <p>In the sixteenth century, the Mughal Empire used relays of horsemen to bring ice from the Hindu Kush to its capital Delhi. The ice was used in fruit sorbets. It was also used to create kulfi, a popular frozen dairy dessert from the Indian
                subcontinent often described as "traditional Indian ice cream."</p>
            <h2>Europe</h2>
            <p>The first recipe in French for flavoured ices appears in 1674, in Nicholas Lemery's Recueil de curiositéz rares et nouvelles de plus admirables effets de la nature. Recipes for sorbetti saw publication in the 1694 edition of Antonio Latini's
                Lo Scalco alla Moderna (The Modern Steward).
            </p>

        </div>

        <!-- <button (click)="onAdd()" class="btn btn-secondary mb-3">Add Course</button> -->

    <div class="courses-btn mb-4" *ngIf="products.length > 0">
        <h1>List of our products:</h1>
    
        <ul class="about-ul mb-4 d-flex">
            <li class="my-btn" [class.active]="viewMode == 'table'">
                <a (click)="viewMode = 'table'">Table View</a>
            </li>
            <li class="my-btn" [class.active]="viewMode == 'list'">
                <a (click)="viewMode = 'list'">List View</a>
            </li>
        </ul>
        <div class="view-content" [ngSwitch]="viewMode">
            <div *ngSwitchCase="'table'">
                <table class="courses-tbl">
                    <tr>
                        <th>N:</th>
                        <th>Name</th>
                        <th>Flavors</th>
                        <th>Price</th>
                    </tr>
                    <tr *ngFor="let product of products; index as i; even as isEven">
                        <td>{{i + 1}}</td>
                        <td>{{ product.name}}</td>
                        <td>{{ product.flavors}}</td>
                        <td>{{ product.price}}</td>
                        <!-- <td><button (click)="onDelete(product)" class="btn btn-danger">Delete</button></td> -->
                    </tr>
                </table>
            </div>
            <div *ngSwitchCase="'list'">
                <ul>
                    <li *ngFor="let product of products; index as i; even as isEven">
                        {{i + 1}}.
                        <span class="course-title">{{ product.name}}: </span> {{ product.flavors}}
                    </li>
                </ul>
            </div>
        </div>
    
        <hr>
    
    </div>

    <div *ngIf="products.length == 0">
        No products.
    </div>
    </div>

    

</div>