<div class="about-wrapper">

    <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <div class="wrapper">

            <button (click)="onAdd()" class="btn btn-secondary mb-3">Add Course</button>

            <div class="courses-btn mb-4" *ngIf="courses.length > 0">
                <h1>List of courses:</h1>

                <ul class="about-ul mb-4 d-flex">
                    <li class="my-btn" [class.active]="viewMode == 'table'">
                        <a (click)="viewMode = 'table'">Table View</a>
                    </li>
                    <li class="my-btn" [class.active]="viewMode == 'list'">
                        <a (click)="viewMode = 'list'">List View</a>
                    </li>
                </ul>
                <div class="view-content" [ngSwitch]="viewMode">
                    <div *ngSwitchCase="'table'">
                        <table class="courses-tbl">
                            <tr>
                                <th>N:</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            <tr *ngFor="let course of courses; index as i; even as isEven">
                                <td>{{i + 1}}</td>
                                <td>{{ course.name}}</td>
                                <td>{{ course.description}}</td>
                                <td><button (click)="onDelete(course)" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </table>
                    </div>
                    <div *ngSwitchCase="'list'">
                        <ul>
                            <li *ngFor="let course of courses; index as i; even as isEven">
                                {{i + 1}}.
                                <span class="course-title">{{ course.name}}: </span> {{ course.description}}
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>

            </div>
            <div *ngIf="courses.length == 0">
                No courses
            </div>




            <h1>Ice Cream Story</h1>
            <p>Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, either sugar or an alternative, and a spice, such as cocoa or vanilla, or with fruit such as strawberries
                or peaches. It can also be made by whisking a flavored cream base and liquid nitrogen together. Food coloring is sometimes added, in addition to stabilizers. The mixture is cooled below the freezing point of water and stirred to incorporate
                air spaces and to prevent detectable ice crystals from forming. The result is a smooth, semi-solid foam that is solid at very low temperatures (below 2 °C or 35 °F). It becomes more malleable as its temperature increases. The meaning of
                the name "ice cream" varies from one country to another. Ice cream and gelato, based on cream and milk. Frozen yogurt, based on yogurt or kefir. Frozen custard, with eggs added to cream and sugar. Ice milk. Sorbet/slushy, ice pop/popsicle/icicle:
                Water base. Examples: frozen cola, frozen lemonade, frozen tea. Sherbet, like sorbet but with some milk added. In some countries, such as the United States, "ice cream" applies only to a specific variety, and most governments regulate
                the commercial use of the various terms according to the relative quantities of the main ingredients, notably the amount of cream. Products that do not meet the criteria to be called ice cream are sometimes labelled "frozen dairy dessert"
                instead.
            </p>
            <h2>Origins</h2>
            <p>The origins of frozen desserts are obscure although several accounts exist about their history. Some sources describe ice cream-like foods as originating in Persia as far back as 550 BCE while others claim that the Roman Emperor Nero had ice
                collected from the Apennine Mountains to produce the first sorbet mixed with honey and wine. Although sorbets are believed to have been invented in Persia, other accounts say ice cream originated in the Mongol Empire and first spread to
                China during its expansion.[9] Its spread throughout Europe is sometimes attributed to Arab traders, but more often to Marco Polo. Though it's not mentioned in any of his writings, Polo is often credited with introducing sorbet-style desserts
                to Italy after learning of it during his travels to China.Seneca criticized the extravagant costs associated with iced desserts in an era without refrigeration. Despite this, ice and snow were prized ingredients in ancient cuisines including
                Japanese, Chinese, Greek and Roman cuisines. Ancient Egyptian hieroglyphs show a snow-filled vessel next to fruit juice. There are Tang dynasty records of a chilled dessert made with flour, camphor and water buffalo milk and recipes for
                snow-chilled sweets are included in a 1st-century Roman recipe book. There are Persian records from the 2nd century AD for sweetened chilled drinks with ice made by freezing water in the desert at night. Ice cream was made possible only
                by the discovery of the endothermic effect. Prior to this, cream could only be chilled but not frozen. It was the addition of salt, that lowered the melting point of ice, which had the effect of drawing heat from the cream and allowing
                it to freeze. The first known record of this comes from the Indian poem Pancatantra, dating to the 4th century AD. The earliest written description of the process is known not from culinary texts, but the 13th-century writings of Ibn Abu
                Usaybia concerning medicine. The technique of "freezing" is not known from any European sources prior to the 16th century. </p>
            <h2>South Asia</h2>
            <p>In the sixteenth century, the Mughal Empire used relays of horsemen to bring ice from the Hindu Kush to its capital Delhi. The ice was used in fruit sorbets. It was also used to create kulfi, a popular frozen dairy dessert from the Indian
                subcontinent often described as "traditional Indian ice cream."</p>
            <h2>Europe</h2>
            <p>The first recipe in French for flavoured ices appears in 1674, in Nicholas Lemery's Recueil de curiositéz rares et nouvelles de plus admirables effets de la nature. Recipes for sorbetti saw publication in the 1694 edition of Antonio Latini's
                Lo Scalco alla Moderna (The Modern Steward).
            </p>
        </div>
    </div>
</div>