.about-wrapper {
    background: url('/assets/summer.jpg'), ;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    max-width: 900px;
    margin: auto;
}

.wrapper {
    margin: 50px;
}