.spacer {
    flex: 1 1 auto;
}

.myNav {
    display: flex;
    gap: 10px;
}

.home-btn {
    color: rgb(255, 255, 255);
}

.home-btn:hover {
    color: rgb(250, 173, 209);
}

.dropdown-menu {
    display: block;
}

.snipcart-checkout {
    color: rgb(255, 255, 255);
}

.snipcart-checkout:hover {
    color: rgb(250, 173, 209);
}

.about-us,
.login,
.about-us,
.contact,
.photos,
.store,
.blog {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    margin-right: 10px;
}

.about-us:hover,
.contact:hover,
.login:hover,
.database:hover,
.photos:hover,
.store:hover,
.blog:hover,
.hamburger-menu:hover {
    color: rgb(250, 173, 209);
}

.logout-btn {
    color: white;
    background-color: rgba(119, 67, 147, 0.5);
    margin-left: 20px;
}

.logout-btn:hover {
    background-color: rgb(119, 67, 147);
}

.login-btn {
    color: white;
    background-color: rgba(119, 67, 147, 0.5);
    margin-left: 20px;
}

.login-btn:hover {
    background-color: rgb(119, 67, 147);
}

.post-btn {
    background-color: rgb(24, 96, 129);
    color: white;
}

.my-btn {
    background-color: rgb(149, 11, 96);
    color: white;
}

.post-btn:hover {
    background-color: rgb(2, 94, 164);
}

.nav-box {
    display: flex;
    flex-direction: row;
    background-color: #1e1d1d;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-left: 16px;
    padding-right: 16px;
}

.hamburger-menu {
    color:white;
    cursor: pointer;
    display:none;
}

.right-buttons {
    display: flex;
}

//Responsive
@media only screen and (max-width: 780px) {
    .nav-box {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        gap: 7px;
    }

    .myNav {
        gap: 0px;
    }
    

    .hamburger-menu {
        display: block;
    }

}