<div class="contact-bg">

    <div class="contact-form" [formGroup]="form">

        <h1>Contact Us</h1>

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Your Name" required>
            <mat-error *ngIf="form.dirty">Name is required and must be at least 3 symbols.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Your Email" required>
            <mat-error *ngIf="form.dirty">Email is required and must be a valid email address.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message" placeholder="Your Message"  rows="7" required></textarea>
            <mat-error *ngIf="form.dirty">Message is required and must be at least 20 symbols.</mat-error>
        </mat-form-field>

        <!-- <div class="form-group">
            <label for="fullName">Full Name</label>
            <input 
            required 
            minlength="3" 
            maxlength="30" 
            ngModel
            name="fullName" 
            id="fullName" 
            type="text" 
            #fullName="ngModel" 
            class="form-control">
            <div class="alert alert-danger" 
            *ngIf="fullName.touched && !fullName.valid">
                <div *ngIf="fullName.errors?.required">
                    Full Name is required.
                </div>
                <div *ngIf="fullName.errors?.minlength">
                    Full Name should be at least {{fullName.errors?.minlength.requiredLength}} symbols.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input 
            required 
            ngModel 
            name="email" 
            id="email" 
            type="text" 
            #email="ngModel" 
            class="form-control">
            <div class="alert alert-danger" 
            *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors?.required">
                    Email is required.
                </div>               
            </div>
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea
            required
            minlength="25" 
            maxlength="1000"
            ngModel
            name="message" 
            id="message"
            #message="ngModel" 
            cols="30" 
            rows="10" 
            class="form-control"></textarea>
            <div class="alert alert-danger" 
            *ngIf="message.touched && !message.valid">
                <div *ngIf="message.errors?.required">
                    Message is required.
                </div>
                <div *ngIf="message.errors?.minlength">
                    Message should be at least {{message.errors?.minlength.requiredLength}} symbols.
                </div>               
            </div>
        </div> -->

        <button class="contact-btn" mat-button (click)="createContact()" [disabled]="!form.valid">{{buttonText}}</button>

    </div>

</div>