.contact-bg {
    background-color: #e2e1e0;
    display: flex;
    min-height: 84vh;
}

.contact-bg p {
    margin: 0;
}

.contact-form {
    width: 70vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.contact-btn {
    background-color: rgb(103, 74, 248);
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-size: 21px;
}

.contact-btn:hover {
    background-color: rgb(55, 17, 247);
}

.mat-button.mat-button-disabled.mat-button-disabled {
    color: white;
    //cursor: pointer;
}

.mat-button.mat-button-disabled.mat-button-disabled:hover {
    background-color: rgb(103, 74, 248);

}