
.form-dialog {
    margin: 30px;
}

mat-form-field {
    display: block;
}

.submit-btn {
    background-color: plum;
    color: white;
}

.submit-btn:hover {
    background-color: rgb(126, 50, 156);
}

.cansel-btn:hover {
    background-color: rgb(135, 132, 137);
    color: white;
}

