<div class="form-dialog">
    <div mat-dialog-content>

        <!-- <mat-form-field>
            <input placeholder="Id" matInput [(ngModel)]="data.id">
        </mat-form-field><br> -->

        <!-- <mat-form-field>
            <textarea placeholder="Text" matInput [(ngModel)]="data.text" rows="20" cols="50"></textarea>
        </mat-form-field> -->

        <editor apiKey="vi87d1gjroxj4d14mmefijxmo23v54ck3cuaxhqic1vgowx3" matInput [(ngModel)]="data.text" [init]="{ 
                    plugins: 'lists link image table code help wordcount visualaid pagebreak emoticons',
                    skin: 'borderless',
                    toolbar_mode: 'scrolling',
                    toolbar: ['undo redo | bold italic underline | cut copy paste selectall checklist bulletlist | alignleft alignright aligncenter alignjustify lineheight blockquote | outdent indent | image media table | forecolor | backcolor | fontsize fontname | code formatselect link print emoticons fullscreen preview'] 
                }">
            <textarea id="myEditor" matInput [placeholder]="data.text" [(ngModel)]="data.text"></textarea>
        </editor>

    </div>
    <div mat-dialog-actions>
        <button class="submit-btn" mat-button (click)="displayText(data)">Submit</button>
        <!-- <button mat-button (click)="onNoClick()">Close</button> -->
        <button class="cansel-btn" mat-button (click)="onCansel()">Cancel</button>
    </div>
</div>