
<div class="photos-wrapper">

<!-- 
<h1>TinyMCE 6 Angular Demo</h1>
<editor
  [init]="{ plugins: 'lists link image table code help wordcount' }"
></editor> -->

    <div class="photos">
        <h1>Search for your favourite photos:</h1>
        <input class="p-2" type="text" [(ngModel)]="search" placeholder="keyword...">
        <input class="m-3 p-2" type="number" [(ngModel)]="perPage" placeholder="number of photos...">
        <button class="btn btn-secondary" (click)="searchPhotos()">Search</button> 
    </div>

        <div class="grid">
            <div class="item photo" *ngFor="let photo of data">
                <a href="{{photo.url}}" target="blank">
                    <div class="content">
            
                        <div class="title">
                            <h5 class="photographer-name">{{photo.photographer}}</h5>
                        </div>
                        <div class="photo-div">
                            <img class="photothumb" src="{{photo.src.landscape}}">
                        </div>
                        <div class="desc">
                            <p>{{photo.alt}}</p>
                        </div>
                    </div>
                    <div class="icon-home" >
                        <img src="assets/home-location.svg">
                        <p>Go to photo's page</p>
                    </div>
                </a>          
            </div>          
        </div>

        <div class="wrapper">
        <h1 class="gallery-title">Ice Cream Gallery</h1>  
        <div class="grid">                     
            <div class="item photo" *ngFor="let photo of gallery">
                <a href="{{photo.url}}" target="blank">
                    <div class="content">        
                        <div class="title">
                            <h5 class="photographer-name">{{photo.photographer}}</h5>
                        </div>
                        <div class="photo-div">
                            <img class="photothumb" src="{{photo.src.landscape}}">
                        </div>
                        <div class="desc">
                            <p>{{photo.alt}}</p>
                        </div>
                    </div>
                    <div class="icon-home" >
                        <img src="assets/home-location.svg">
                        <p>Go to photo's page</p>
                    </div>
                </a>          
            </div>          
        </div>
    </div>

</div>

