<div class="wrapper">

    <h1>Create Post</h1>
    <hr>

    <div class="dashboard-wrapper">

        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput placeholder="Category" [(ngModel)]="category">
        </mat-form-field>

        <div class="image-upload">
            <input type="file" name="file" id="file" (change)="uploadImage($event)">
            <div [hidden]="!uploadPercent" class="mt-3">
                <mat-progress-bar color="accent" mode="determinate" value="{{uploadPercent | async}}">
                </mat-progress-bar>
            </div>
        </div>
        <div [hidden]="!image" class="mb-3">
            <img [src]="image || '//:0'">
        </div>

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Post Title" [(ngModel)]="title">
        </mat-form-field>

        <editor class="custom-editor" apiKey="vi87d1gjroxj4d14mmefijxmo23v54ck3cuaxhqic1vgowx3" matInput
            [(ngModel)]="content" [init]="{ 
            plugins: 'lists link image table code help wordcount visualaid pagebreak emoticons',
            skin: 'borderless',
            toolbar_mode: 'scrolling',
            toolbar: ['undo redo | bold italic underline | cut copy paste selectall checklist bulletlist | alignleft alignright aligncenter alignjustify lineheight | outdent indent | image media table | forecolor | backcolor | fontsize fontname | code formatselect link print emoticons fullscreen preview'] ,
            mobile: {
                menubar: true,
                plugins: 'lists link image table code help wordcount visualaid pagebreak emoticons',
                toolbar: ['undo redo | bold italic | cut copy paste selectall checklist bulletlist | alignleft alignright aligncenter alignjustify lineheight | outdent indent | image media table | forecolor | backcolor | fontsize fontname | code formatselect link print emoticons fullscreen preview'],
                toolbar_mode: 'scrolling'
            }
        }">
            <textarea id="myEditor" matInput [placeholder]="content" [(ngModel)]="content"></textarea>
        </editor>

        <!-- <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea matInput placeholder="Content" [(ngModel)]="content" rows="16"></textarea>
        </mat-form-field> -->

        <br>
        <button class="create-post-btn" mat-button (click)="createPost()"
            [disabled]="!title || !content ">{{buttonText}}</button>
    </div>

</div>