.wrapper {
    min-height: 90vh;
    background: rgb(240, 239, 240);
    padding:70px;
}

.dashboard-wrapper {
    margin: 0px auto;
    border: 2px solid gray;
    width: 60vw;
    padding: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

mat-form-field {
    padding: 10px;
    width: 100%;
    color: gray;
    margin-bottom: 10px;
    background-color:rgb(240, 237, 237);
}

mat-label {
    color:darkslategrey;
}

img {
    width: 100%;
}

.image-upload{
    margin-bottom: 20px;
    overflow: hidden;
}

.create-post-btn {
    background-color: #2c5ba4;;
    color: white;
}

.create-post-btn:hover {
    background-color: #013587;;
}

@media only screen and (max-width: 780px) {
    .wrapper {
        padding: 40px;
    }

    .dashboard-wrapper {
        width: 70vw;
    }
}
