.product-card {
    background-color: #DFDEDD;
    color: black;
    width: 230px;
    padding: 16px;
    border: 5px solid white;
}

.product-card:hover {
    cursor: pointer;
    background-color: white;
}

mat-card {
    border-radius: 5px;
    background-color: #e8e7e7;
}

.mat-card-image {
    object-fit: contain;
    max-height: 290px;
    width: 96%;
    border-radius: 5px;
}

.mat-card-title {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.snipcart-item-line__image {
    width: 50px;
}

.icons img {
    width: 25%;
    margin-bottom: 20px;
}