/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');
$custom-typography: mat-typography-config($font-family: '"Raleway", sans-serif;');
@include mat-core($custom-typography);

html,
body {
    //height: 100%;
    background-color: #f7d3fa;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.main-div {
    background: url('./assets/summer.jpg'), ;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.snipcart-item-line--cart-edit .snipcart-item-line__image {
    max-width: 40px;
    width: 120px;
}

.snipcart-item-line__media--small {
    height: auto;
}

.snipcart-item-line__image {
    width: 50px;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';