/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
$custom-typography: mat-typography-config($font-family: '"Comfortaa", cursive;');
@include mat-core($custom-typography);

html,
body {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

//pagination
ul.ngx-pagination {
    padding-left: 0;
}

.main-div {
    background: url('./assets/summer.jpg'), ;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

.snipcart-item-line--cart-edit .snipcart-item-line__image {
    max-width: 40px;
    width: 120px;
}

.snipcart-item-line__media--small {
    height: auto;
}

.snipcart-item-line__image {
    width: 50px;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}
.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
height: 50px;
width: 50%;
background-color: #fc7169;
color:white;
border-radius: 0px;
}

.confirm-dialog-container #no-button:hover{
    background-color: #e1382f;
    }

.confirm-dialog-container #yes-button{
    height: 50px;
    width: 50%;
    background-color: #b6bece;
    color:white;
    border-radius: 0px;
}

.confirm-dialog-container #yes-button:hover{
    background-color: #5484e6;
}

.confirm-dialog-container span.content-span{
    padding:  35px 16px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}

.mat-dialog-container {
    background: #fff;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
