.post-list-wrapper {
    padding: 30px;
    margin: 0px auto;
    background: rgb(240, 239, 240);
    min-height: 90vh;
}

.post-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 30px auto;
    max-width: 95%;
}

.post-box:hover {
    cursor: pointer;
}

mat-card {
    max-width: 700px;
    background-color:azure;
    color: darkslategray;
}

mat-icon {
    top: 2px;
    position: relative;
    font-size: 20px;
}

mat-icon.heart-icon {
    font-size: 16px;
    color:rgb(243, 133, 168)
}

.icons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    line-height: 0px;
    border-radius: 50%;
}

.image-box {
    height: 200px;
    overflow: hidden;
    background-color: blueviolet;
   
}

img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    object-fit: cover;
}

img:hover {
    transform: scale(1.5);
    opacity:0.7;
}

hr {
    margin: 0;
}

h1 {
    text-align: center;
}

h5 {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 10px;
}

.category-box{
    display: flex;
    justify-content: end;
}

.category-bar{
    padding: 1px 5px;
    background-color: rgb(234, 233, 233);
    border-radius: 2px;
    width: max-content;
    text-align: right;
}

.likes {
    top: 3px;
    position: relative;
}