<div class="posts-wrapper">

    <h1>Posts</h1>
    <hr>

    <div class="filter-posts">
        <form class="filter-box" id="filter">
            <div class="filter-input">
                <label>Filter posts by category: </label>
                <input type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="term" />
            </div>
            <span class="spacer"></span>
            <div class="right-buttons">
                <button mat-raised-button *ngIf="auth.afAuth.authState | async" (click)="getMyPosts()"
                    class="showMyPostsBtn">My Posts</button>
                <button mat-raised-button (click)="ngOnInit()" class="showAllBtn">Show All</button>
            </div>
        </form>
    </div>

    <div class="paging">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

    <div class="post-list-wrapper">

        <section *ngIf="posts | async as posts; else indicator" class="post-box">

            <mat-card *ngFor="let post of posts | filter:term | paginate: { itemsPerPage: 3, currentPage: page}">

                <mat-card-content routerLink="{{post.id}}">
                    <div class="image-box">
                        <img src="{{post.image}}" alt="{{post.title}}">
                    </div>
                    <div class="category-box">
                        <h5 class="category-bar">{{post.category}}</h5>
                    </div>
                    <h2 *ngIf="post.title.length > 30">{{(post.title | slice:0:30) + '...'}}</h2>
                    <h2 *ngIf="post.title.length <= 30">{{post.title}}</h2>
                    <p><small>
                            <mat-icon> person_pin</mat-icon>Posted by <strong>{{post.author}}</strong> <br>
                            <mat-icon>date_range</mat-icon>
                            {{post.published.toDate() | date:'yyyy/MM/dd'}}
                        </small></p>
                    <!-- <p>Read more >></p> -->
                    <p>{{(post.content | slice:0:60) + '...'}}</p>
                </mat-card-content>

                <mat-card-actions>
                    <hr>
                    <div class="icons-wrapper">
                        <div class="icons-left">
                            <button mat-icon-button>
                                <span class="likes">{{post.likes}}</span>
                                <mat-icon class="heart-icon">favorite</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <span class="likes">{{post.comments}}</span>
                                <mat-icon class="comments-icon">mode_comment</mat-icon>
                            </button>
                        </div>
                        <span class="spacer"></span>
                        <button mat-icon-button *ngIf="auth.currentUserId === post.authorId" (click)="delete(post.id)">
                            <mat-icon class="delete-btn">delete</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>

            </mat-card>



        </section>


        <ng-template #indicator class="loader-box" alt="Loading...">
            <!-- <h3 class="loading">Loading...</h3> -->
            <div class="loading">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </ng-template>

        <section class="aside">
            <app-aside-posts></app-aside-posts>
            <app-latest-posts></app-latest-posts>
        </section>

    </div>

</div>